---
layout: default
---

<div class="home">
      <img alt=" " src="https://avatars.githubusercontent.com/{{ site.github_username }}" >

  <p>{{site.description }} <br>
  Contact us via mail <a href="mailto:{{ site.email }}">{{ site.email }}</a>. Or write an issue in our <a href="https://github.com/ExtendScript/AMA/issues">"Ask Me Anything"</a> repo.
        </p>
        <p>This site is still a work in progress. Come back soon(ish)</p>
<p>
          {% if site.github_username %}

            {% include icon-github.html username=site.github_username %}

          {% endif %}</p>
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>
